<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>weather app</title>
    
    {{>headerlink}}
</head>

<body>
    {{>navbar}}


    <!---main section -->

<!---main section -->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-11 col-12 main_header_left align-items-center">
                           <figure>
                            <img src="error.jfif" alt="piyush" class="img-fluid">
                           </figure>
                           <h2>there is   <span class="text_clr">nothing </span> to read</h2>
        
                            <h1>{{errormsg}}</h1>
                     
                               <a href="/"><button>go back </button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>
    

    <!---footer code -->
  {{>footer}}

</body>

</html>